# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets & environment
.env
*.pem
*.key
credentials.json

# Packer
*.box
packer_cache/

# Ansible
*.retry

# OS
.DS_Store
Thumbs.db

ssm-backup-restore.sh